body {
    background-color: rgb(145, 133, 82);
}

.grid {
    opacity: 1;
    display: grid;
    gap: 10px;
    margin-bottom: 50px;
    grid-template-columns: 5% 11% 13% 20% 5% 20% 13% ;
    grid-template-rows: 5% 30% 10% 30% 10% 30% ;     
    transition: 0.5s;
    }
        
.g10 {
    background: url(TR1_box_art.webp) no-repeat center / cover;
    border-radius: 7px;
    border: 12px solid rgb(90, 79, 63);

}

.g11 {
    padding: 2%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    line-height: 1.6;
    border: 12px solid rgb(78, 70, 58);
}

.g27 {
    padding: 2%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    line-height: 1.6;
    border: 12px solid rgb(78, 70, 58);
}

.g44 {
    background: url(TR3_box_art_PS.webp) no-repeat center / cover;
    border-radius: 7px;
    border: 12px solid rgb(78, 70, 58);

}

.g28 {
    background: url(Tombraider2.webp) no-repeat center / cover;
    border-radius: 7px;
    border: 12px solid rgb(78, 70, 58);

}

.g45 {
    padding: 2%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    line-height: 1.6;
    border: 12px solid rgb(78, 70, 58);
}

.grid2 {
    margin-left: 10%;
    opacity: 0;
    display: grid;
    gap: 10px;
    margin-bottom: 50px;
    grid-template-columns: 5% 11% 13% 20% 5% 20% 13% ;
    grid-template-rows: 5% 30% 7% 30% 7% 30% ;     
    position: absolute;
    z-index: 3;
    top: 0;
    transition: 0.5s;
    width: 100%;
}

.left12 {
    position: absolute;
    right: -10px;
    background-color: rgb(180, 177, 155);
    width: 5%;
    height: 90%;
    z-index: 5;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
}

.left12:hover ~ .grid2{
    opacity: 1;
   transition: 0.5s;
   transform: translate(-18%);
}

.left12:hover ~ .grid {
    opacity: 0;
    transition: 0.5s;
}


.g13 {
    padding: 2%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    line-height: 1.6;
    border: 12px solid rgb(78, 70, 58);
}

.g14 {
    background: url(Tombraider4.webp) no-repeat center / cover;   
    border-radius: 7px;
    border: 12px solid rgb(78, 70, 58);

}

.g24 {
    background: url(Tombraider5.webp) no-repeat center / cover;
    border-radius: 7px;
    border: 12px solid rgb(78, 70, 58);

}

.g25 {
    padding: 2%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    line-height: 1.6;
    border: 12px solid rgb(78, 70, 58);
}

.g47 {
    padding: 2%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    line-height: 1.6;
    border: 12px solid rgb(78, 70, 58);
}

.g48 {
    
    background: url(TRA_Boxart.webp) no-repeat center / cover;
    border-radius: 7px;
    border: 12px solid rgb(78, 70, 58);
}

.g111 {
    grid-area: 1/1/8/2;
    background-color: rgb(80, 71, 45);
    transition: 0.5s;
    border-radius: 12px;
    
}

.main1 {
   text-align: center;
   justify-content: center;
   display: flex;
   margin-top: 250%;

}

.decor {
    text-decoration: none;
    color: inherit;
    color: aliceblue;
}

.g111:hover {
    background-color: rgb(143, 133, 101);
    transition: 0.5s;
    border: 10px solid rgb(51, 37, 19);
}

.g15 {
    background: url(ss_dc9e004b12f7e5a682674aca6650ced4dbde9026.1920x1080.jpg) no-repeat center / cover;
    border-radius: 7px;
}

.g20 {
    background: url(11_LaunchScreenshot.webp) no-repeat center / cover;
    border-radius: 7px;
}

.g0 {
     background: url(0.jpg) no-repeat center / cover;
    border-radius: 7px;
}

.g123 {
     background: url(images.jpg) no-repeat center / cover;
    border-radius: 7px;
}

.g90 {
     background: url(Tomb-Raider-2-widescreen.webp) no-repeat center / cover;
    border-radius: 7px;
}

.g343 {
     background: url(LaraFirst.jpg) no-repeat center / cover;
    border-radius: 7px;
}

.g78 {
    background: url(capsule_616x353.jpg) no-repeat center / cover;
    border-radius: 7px;
}

.g79 {
    background: url(ss_a3302f2d5ec4fbbac1e88486efa65077632462f9.1920x1080.jpg) no-repeat center / cover;
    border-radius: 7px;
}

.g80 {
    background: url(MV5BOTVkODg0NzMtZmI4NC00YmJkLThiZGUtNTA0ODQwZTI4MTUzXkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg) no-repeat center / cover;
    border-radius: 7px;
}

.g81 {
    background: url(splash-cover.webp) no-repeat center / cover;
    border-radius: 7px;
}

.g909 {
    background: url(56603f3973a6b3b6_original.jpg) no-repeat center / cover;
    border-radius: 7px;
}

.g92 {
    background: url(apps.20674.63703957641232998.177fdfdc-28b2-4e28-b9e3-f1f92be54d20.jpg) no-repeat center / cover;
    border-radius: 7px;
}
