


.sticker {
    margin-top: -90px;
    width: 4%;
    margin-left: 94%;
}


.main {
    font-size: 50px;
    color:rgb(228, 200, 166); 
    padding: 15px;
    border-radius: 10px;
}

.main:hover {
    background-color: rgb(228, 200, 166);
    color:rgb(110, 93, 73);
    opacity: 0.8;
   
}

.menu1 {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    position: relative;
    background-color: rgb(117, 91, 67);
    width: 70%;
    margin-left: 15%;
    border-radius: 12px;
}

.img {
    width: 15%;
    position: absolute;
    z-index: -1;
    top: 28%;
}

.big:hover .img{
    width: 100%;
    transition: 0.7s;
    opacity: 0;
    top: -100px;
    
}

.textall {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    display: block;
    margin-left: 25%;

}

.text {
    width: 70%;
    font-size: 200%;
}

.text2 {
    width: 70%;
    font-size: 200%;
}

.link {
    text-decoration: none;
    color: inherit; 
    background-color: transparent;
}

body {
    background-color: rgb(160, 124, 90);
}

.img1 {
    margin-left: -25%;
    width: 60%;
    border-radius: 5px;
}
