

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contall {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.video {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}

.maintext {
    font-family: Bebas Neue;
    opacity: 0;
    font-size: 800%;
    color: rgb(36, 33, 32);
    -webkit-text-stroke: 1px rgb(226, 216, 210);
    position: absolute;
    top: 400px;
    right: 1050px;

}

.textunder {
    display: block;
}

.minitext {
    font-family: Roboto;
    color: rgb(202, 196, 192);
    opacity: 0;
    font-size: 250%;
    position: relative;
    position: absolute;
    top: 550px;
    right: 850px;

}


.left1 {
    margin-left: 0;
    width: 30%;
    opacity: 1;
    height: 90%;
    transition: 1s;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 57, 54);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    transform: translate(-1350px);
    
}


.contall:hover .maintext {
    opacity: 0.99;
    transition: 2s;
    top: 480px;
}

.contall:hover .minitext {
    opacity: 0.6;
    transition: 2s;
    top: 630px;
}

.left1:hover {
    transform: translate(-1000px);
    transition: 1s;
    opacity: 1;
}

.photo1 {
    width: 50%;
    transition: 0.5s;
    border: 30px solid rgb(124, 111, 98);
    border-radius: 7px;
}

.menu {
    align-items: center;
    justify-content: center;
    display: flex;
    justify-self: flex-start;
}

.left22 {
    width: 30%;
    opacity: 0.8;
    background-color: rgb(61, 57, 54);
    height: 100%;
    transition: 1s;
    border: 30px solid rgb(43, 35, 30);
    border-radius: 50px;
    z-index: -2;
}

.left1:hover ~ .left2{
    transform: translate(450px);
    transition: 1s;
    opacity: 0.5;
    border: 30px solid rgb(124, 111, 98);;
}

.photo1:hover {
    width: 55%;
    transition: 0.5s;
}

.gameplay {
    font-size: 30px;
    color: rgb(49, 45, 40);
    font-family: 'Bebas Neue', sans-serif;
    opacity: 0.8;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    width: 50%;
    background-color: rgb(124, 111, 98);
    border-radius: 7px;
}

.photo2 {
    width: 50%;
    transition: 0.5s;
    border-radius: 12px;
    border: 30px solid rgb(124, 111, 98);
    border-radius: 7px;
}

.photo2:hover {
    width: 55%;
    transition: 0.5s;
}

.games {
    font-size: 30px;
    color: rgb(49, 45, 40);
    font-family: 'Bebas Neue', sans-serif;
    opacity: 0.8;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    width: 50%;
    background-color: rgb(124, 111, 98);
    border-radius: 7px;
}
